@import "tailwindcss";
.stroke-white {
  color: transparent;
  -webkit-text-stroke: 2px white;
  -moz-text-stroke: 2px white;
  text-stroke: 2px white;
}
@layer utilities {
  @keyframes floatDown {
    0%,
    100% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .animate-floatDown {
    animation: floatDown 4s ease-in-out infinite;
  }
}
@layer utilities {
  @keyframes floatDown {
    0% {
      transform: translateY(-20px);
      opacity: 0.7;
    }
    50% {
      transform: translateY(20px);
      opacity: 1;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0.7;
    }
  }

  .animate-floatDown {
    animation: floatDown 4s ease-in-out infinite;
  }
}
