@import "tailwindcss";
.stroke-white {
  color: transparent;
  -webkit-text-stroke: 2px white;
  -moz-text-stroke: 2px white;
  text-stroke: 2px white;
}
@layer utilities {
  @keyframes floatDown {
    0%,
    100% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .animate-floatDown {
    animation: floatDown 4s ease-in-out infinite;
  }
}
@layer utilities {
  @keyframes floatDown {
    0% {
      transform: translateY(-20px);
      opacity: 0.7;
    }
    50% {
      transform: translateY(20px);
      opacity: 1;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0.7;
    }
  }

  .animate-floatDown {
    animation: floatDown 4s ease-in-out infinite;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
  width: max-content;
}

.animate-slide-reverse {
  animation: slide-reverse 30s linear infinite;
  width: max-content;
}

.animate-slide:hover,
.animate-slide-reverse:hover {
  animation-play-state: paused;
}
